
.vh-100 {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page {
  display: grid;
  grid-template-columns: repeat(15, auto);
  grid-template-rows: repeat(15, auto);
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
}

h1, h3 {
  color: #282c34;
}

.notes-header {
  padding: 0px;
  margin: 0px;
  grid-column: 4 / span 2;
  grid-row: 5 / span 1;
  color: black;
  font-size: 2.3rem;
}

.notes-container {
  grid-column: 3 / span 11;
  grid-row: 7 / span 6;
  background-color: white;
  width: 100%;
  height: 100%;
  list-style: none;
}
.notes-container:nth-child(n) {
  width: 100%;
  height: 2rem;
  }
.notes-container:nth-child(2n) {
background-color: grey;
}



